[submodule "themes/hugo-saasify-theme"]
	path = themes/hugo-saasify-theme
	url = https://github.com/chaoming/hugo-saasify-theme
[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
